body {
	background-color: FFFFFF;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

}

.container {
	margin: 20px;
	padding: 20px;

}

button {
	background-color: #008CBA;
	width: 200px;
	border: 2px solid white;
	color: white;
	padding: 10px 15px;
	margin:0px 10px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
}

form {
	width: 100%;
	padding: 12px 20px 12px 20px;
	margin: 20px 10px;
	display: inline-block;
	font-size: 36px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input [type=text] {
	width: 200px;
	font-size: 16px;
	padding: 15px 15px 15px 15px;
	margin: 0 10px;
	display: inline-block;
	border: 1px solid #ccc;

}

#addTopic {
	font-size: 12px;
	background-color: #45a050;
	color: white;
	padding: 10px 20px 10px 20px;
	
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
